/* Utils */
@import url("./utils/utils.css");

/* vendor, CDN */
@import url("./vendor/vendor.css");

/* config, import,... */
@import url("./base/base.css");
@import url("./components/btn.css");
@import url("./components/product.css");
@import url("./components/filter.css");
@import url("./components/box-decor.css");
@import url("./components/nav-link.css");
@import url("./components/menu-side.css");
@import url("./components/pagination.css");
@import url("./components/textarea.css");

@import url("./components/loading.css");

/* navigate bar / menu bar */
@import url("./layouts/nav-bar.css");

/* header page */
@import url("./layouts/header.css");

/* header page slide */
@import url("./components/slide.css");

/* down arrow animation */
@import url("./components/down-animation-icon.css");

/* body */
@import url("./layouts/body.css");

/* lastest product */
@import url("./layouts/latest-product.css");

/* footer */
@import url("./layouts/footer.css");

/* copyright */
@import url("./layouts/copy-right.css");

/* auth page */
@import url("./layouts/auth.css");

/* otp page */
@import url("./layouts/otp.css");

/* account page */
@import url("./layouts/user.css");

/* post page */
@import url("./layouts/post.css");

/* notify pop up */
@import url("./components/notify-popup.css");

/* about */
@import url("./components/about.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

#about1{
    margin-top: 80px;
}

#construct{
    margin-top: 80px;
}

#contact_inf{
    margin-top: 80px;
}

#portfolio1{
    margin-top: 80px ;
}

@media screen and (max-width: 800px) {
    #about1{
        margin-top: 130px !important;
    }
    #construct{
        margin-top: 130px !important;
    }
    #contact_inf{
        margin-top: 130px !important;
    }
    #portfolio1{
        margin-top: 130px !important;
    }
}